Repository bcgov/nr-spar-webapp, pull requests merged in 2022-12, with the labels that each got.

#10 feat: Landing page
  jest.config.js
  src/App.tsx
  src/__test__/__mocks__/fileMock.ts
  src/__test__/utils/urlUtils.test.ts
  src/__test__/views/NewLanding.test.tsx
  src/__test__/views/__snapshots__/NewLanding.test.tsx.snap
  src/assets/img/bc-gov-logo.png
  src/assets/img/seeding.png
  src/components/BCGovLogo/index.tsx
  src/components/BCGovLogo/styles.css
  src/utils/UrlUtils.ts
  src/views/Landing/index.tsx
  src/views/NewLanding/index.tsx
  src/views/NewLanding/styles.css
Labels: coverage, source, feature

#8 Left panel style
  src/components/PanelSectionName/index.tsx
  src/components/PanelSectionName/styles.scss
  src/layout/PublicLayout/index.tsx
  src/layout/PublicLayout/styles.css
  src/theme/components-overrides.scss
  yarn.lock
Labels: source

#12 fix(login): update provider hint when logging with business bceid
  src/types/LoginProviders.ts
Labels: fix

#11 Dashboard view with styling
  public/index.html
  src/App.tsx
  src/__test__/components/BCHeader.test.tsx
  src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  src/components/ActivityTable/index.tsx
  src/components/ActivityTable/styles.css
  src/components/BCHeader/index.tsx
  src/components/BCHeader/styles.css
  src/components/Card/index.tsx
  src/components/Card/styles.css
  src/components/FavoriteActivities/index.tsx
  src/components/FavoriteActivities/styles.css
  src/components/LeftPanel/index.tsx
  src/components/RecentActivities/index.tsx
  src/components/RecentActivities/styles.css
  src/components/StatusItem/index.tsx
  src/components/StatusItem/styles.css
  src/enums/ActivityStatus.ts
  src/enums/ActivityType.ts
  src/layout/PublicLayout/index.tsx
  src/layout/PublicLayout/styles.css
  src/mock-data/FavoriteActivitiesCardItems.ts
  src/mock-data/LeftPanelItems.ts
  src/mock-data/RecentActivityItems.ts
  src/theme/components-overrides.scss
  src/types/Activity.ts
  src/types/Card.ts
  src/views/Dashboard/dashboard.tsx
  src/views/Home/index.tsx
  src/views/NewLanding/index.tsx
Labels: coverage, source

#13 docs: update readme and contributing guides to enforce conventional commits
  CONTRIBUTING.md
  README.md
  README_template.md
Labels: fix

#14 Feat: show current version
  .github/workflows/merge-main.yml
  src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  src/components/LeftPanel/index.tsx
  yarn.lock
Labels: source

#15 Dashboard spacing and other minor fixes
  src/components/BCHeader/index.tsx
  src/components/BCHeader/styles.css
  src/components/BCHeader/styles.scss
  src/components/FavoriteActivities/index.tsx
  src/components/FavoriteActivities/styles.css
  src/components/FavoriteActivities/styles.scss
  src/components/LeftPanel/index.tsx
  src/components/LeftPanel/styles.scss
  src/components/RecentActivities/index.tsx
  src/components/RecentActivities/styles.css
  src/components/RecentActivities/styles.scss
  src/layout/PublicLayout/index.tsx
  src/layout/PublicLayout/styles.css
  src/layout/PublicLayout/styles.scss
  src/theme/components-overrides.scss
  src/theme/variables.scss
  src/views/Dashboard/dashboard.tsx
  src/views/Dashboard/styles.scss
Labels: source

#16 ci(sonar): specify source and test folders
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: ci

#20 Added breakpoints for the landing page
  src/views/NewLanding/index.tsx
  src/views/NewLanding/styles.scss
Labels: enhancement, source

#17 feat: update variable name to match spar repo version
  .github/openshift/deploy.frontend.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  CONTRIBUTING.md
  README.md
  src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  src/components/LeftPanel/index.tsx
Labels: source, feature

#21 Feat/highlight
  src/components/Card/index.tsx
  src/components/Card/styles.scss
  src/components/FavoriteActivities/index.tsx
  src/mock-data/FavoriteActivitiesCardItems.ts
  src/theme/components-overrides.scss
  src/types/Card.ts
Labels: source

#24 fix: navigation added to left panel
  src/components/LeftPanel/index.tsx
Labels: source, fix

#22 feat: delete favorite activities function created
  src/components/Card/index.tsx
  src/components/FavoriteActivities/index.tsx
Labels: source, feature

#23 feat: dashboard breakpoints
  src/components/ActivityTable/index.tsx
  src/components/ActivityTable/styles.css
  src/components/BCHeader/index.tsx
  src/components/BCHeader/styles.scss
  src/components/Card/index.tsx
  src/components/Card/styles.scss
  src/components/FavoriteActivities/index.tsx
  src/components/FavoriteActivities/styles.scss
  src/components/LeftPanel/index.tsx
  src/components/LeftPanel/styles.scss
  src/components/PanelSectionName/styles.scss
  src/components/RecentActivities/styles.scss
  src/layout/PublicLayout/index.tsx
  src/layout/PublicLayout/styles.scss
  src/views/Dashboard/dashboard.tsx
  src/views/Dashboard/styles.scss
Labels: enhancement, source, feature

#25 fix: fixed generic font on panel section component
  src/components/PanelSectionName/index.tsx
  src/components/PanelSectionName/styles.scss
Labels: source, fix
