Repository bcgov/nr-spar-webapp, pull requests merged in 2023-01, with the labels that each got.

#26 fix: adjusted StatusItem component and other minor changes
  src/components/ActivityTable/styles.css
  src/components/BCHeader/styles.scss
  src/components/StatusItem/index.tsx
  src/components/StatusItem/styles.css
Labels: source, fix

#28 fix: fixed env var name
  src/components/BCHeader/index.tsx
Labels: source, fix

#27 Feat/empty sections
  src/components/EmptySection/index.tsx
  src/components/EmptySection/styles.scss
  src/components/FavoriteActivities/index.tsx
  src/components/RecentActivities/index.tsx
  src/components/RecentActivities/styles.scss
Labels: source

#30 fix: changed css units to rem, where necessary
  src/components/BCGovLogo/styles.css
  src/components/BCHeader/styles.scss
  src/components/Card/styles.scss
  src/components/EmptySection/styles.scss
  src/components/PanelSectionName/styles.scss
  src/theme/components-overrides.scss
  src/views/NewLanding/styles.scss
Labels: fix

#29 feat: created my profile side panel
  src/components/AvatarImage/index.tsx
  src/components/AvatarImage/style.css
  src/components/BCHeader/index.tsx
  src/components/BCHeader/styles.scss
  src/components/MyProfile/index.tsx
  src/components/MyProfile/style.scss
  src/components/NotificationsCentral/index.tsx
  src/components/RightPanelTitle/index.tsx
  src/components/RightPanelTitle/styles.css
  src/mock-data/AccountOptions.ts
  src/mock-data/img/EmptyUser.jpg
  src/service/KeycloakService.ts
Labels: enhancement, source, feature

#31 Feat/dashboard tests
  src/__test__/components/ActivityTable.test.tsx
  src/__test__/components/BCGovLogo.test.tsx
  src/__test__/components/Card.test.tsx
  src/__test__/components/EmptySection.test.tsx
  src/__test__/components/FavoriteActivities.test.tsx
  src/__test__/components/PanelSectionName.test.tsx
  src/__test__/components/RecentActivities.test.tsx
  src/__test__/components/StatusItem.test.tsx
Labels: coverage, source
