Repository bcgov/nr-spar-webapp, pull requests merged in 2023-02, with the labels that each got.

#34 fix: fixed accessibility issues on the dashboard page
  src/__test__/components/RecentActivities.test.tsx
  src/components/ActivityTable/index.tsx
  src/components/Card/FavoriteCard/index.tsx
  src/components/Card/FavoriteCard/styles.scss
  src/components/FavoriteActivities/index.tsx
  src/components/FavoriteActivities/styles.scss
  src/components/PageTitle/index.tsx
  src/components/PageTitle/styles.scss
  src/components/RecentActivities/index.tsx
  src/components/RecentActivities/styles.scss
  src/components/Subtitle/index.tsx
  src/components/Subtitle/styles.css
  src/components/Subtitle/styles.scss
  src/layout/PublicLayout/styles.scss
  src/theme/components-overrides.scss
  src/views/Dashboard/dashboard.tsx
Labels: fix

#35 Feat/existents seedlot
  src/__test__/components/ExistingSeedlot.test.tsx
  src/__test__/components/Participants.test.tsx
  src/__test__/components/SeedlotTable.test.tsx
  src/components/ExistingSeedlot/index.tsx
  src/components/ExistingSeedlot/styles.scss
  src/components/Participants/index.tsx
  src/components/Participants/styles.css
  src/components/SeedlotTable/index.tsx
  src/components/SeedlotTable/styles.css
  src/components/StatusItem/index.tsx
  src/enums/ActivityStatus.ts
  src/mock-data/ExistingSeedlotItems.ts
  src/theme/components-overrides.scss
  src/types/Seedlot.ts
  src/views/SeedlotDashboard/index.tsx
Labels: coverage, source

#36 Feat/theme change
  jest.config.js
  package.json
  src/__test__/components/BCHeader.test.tsx
  src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  src/components/BCHeader/styles.scss
  src/components/Card/FavoriteCard/styles.scss
  src/components/FavoriteActivities/styles.scss
  src/components/MyProfile/index.tsx
  src/components/PanelSectionName/index.tsx
  src/components/PanelSectionName/styles.scss
  src/components/RecentActivities/styles.scss
  src/custom.scss
  src/index.tsx
  src/theme/components-overrides.scss
  src/theme/dark-theme.scss
  src/theme/light-theme.scss
  src/utils/ThemePreference.tsx
  yarn.lock
Labels: coverage, source

#38 feat: create Seedlot Activities actions section
  package.json
  src/__test__/components/ActivityHistory.test.tsx
  src/__test__/components/ExistingSeedlot.test.tsx
  src/__test__/components/FavouriteActivities.test.tsx
  src/__test__/components/SeedlotActivities.test.tsx
  src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  src/__test__/utils/DateUtils.test.ts
  src/components/ActivityHistory/index.tsx
  src/components/ActivityHistory/styles.scss
  src/components/Card/StandardCard/index.tsx
  src/components/Card/StandardCard/styles.scss
  src/components/ExistingSeedlot/index.tsx
  src/components/ExistingSeedlot/styles.scss
  src/components/FavouriteActivities/index.tsx
  src/components/FavouriteActivities/styles.scss
  src/components/SeedlotActivities/index.tsx
  src/components/SeedlotActivities/styles.scss
  src/components/SeedlotTable/index.tsx
  src/mock-data/ActivityHistoryItems.ts
  src/mock-data/ExistingSeedlotItems.ts
  src/mock-data/FavoriteActivitiesCardItems.ts
  src/mock-data/SeedlotActivitiesCardItems.ts
  src/modules.d.ts
  src/types/Card.ts
  src/types/History.ts
  src/utils/DateUtils.ts
  src/views/Dashboard/dashboard.tsx
  src/views/SeedlotDashboard/index.tsx
  yarn.lock
Labels: coverage, source, feature

#40 Feat: setup mock server
  .eslintrc.json
  CONTRIBUTING.md
  README.md
  jest.config.js
  package.json
  src/App.tsx
  src/__test__/components/ActivityHistory.test.tsx
  src/__test__/components/ActivityTable.test.tsx
  src/__test__/components/ExistingSeedlot.test.tsx
  src/__test__/components/FavouriteActivities.test.tsx
  src/__test__/components/RecentActivities.test.tsx
  src/__test__/components/SeedlotTable.test.tsx
  src/assets/img/emptyUser.jpg
  src/components/AvatarImage/index.tsx
  src/components/BCHeader/index.tsx
  src/components/Card/StandardCard/index.tsx
  src/components/ExistingSeedlot/index.tsx
  src/components/FavouriteActivities/index.tsx
  src/components/MyProfile/index.tsx
  src/components/RecentActivities/index.tsx
  src/components/SeedlotActivities/index.tsx
  src/layout/PrivateLayout/index.tsx
  src/layout/PrivateLayout/styles.scss
  src/mock-api/endpoints/FavoriteEndpoints.ts
  src/mock-api/endpoints/RecentActivitiesEndpoints.ts
  src/mock-api/endpoints/index.ts
  src/mock-api/fixtures/AccountOptions.ts
  src/mock-api/fixtures/ActivityHistoryItems.ts
  src/mock-api/fixtures/ExistingSeedlotItems.ts
  src/mock-api/fixtures/FavoriteActivitiesCardItems.ts
  src/mock-api/fixtures/LeftPanelItems.ts
  src/mock-api/fixtures/RecentActivityItems.ts
  src/mock-api/fixtures/SeedlotActivitiesCardItems.ts
  src/mock-api/fixtures/index.ts
  src/mock-api/models/index.ts
  src/mock-api/schema.ts
  src/mock-api/server.ts
  src/utils/ApiAddresses.ts
  src/utils/ApiUtils.ts
  yarn.lock
Labels: enhancement, coverage, source, feature

#43 fix: id parameters for api calls
  src/components/FavouriteActivities/index.tsx
  src/mock-api/fixtures/FavouriteActivitiesCardItems.ts
  src/mock-api/server.ts
Labels: source, fix

#41 fix: dark mode components token override
  src/custom.scss
  src/theme/buttons.scss
  src/theme/dark-buttons.scss
  src/theme/dark-notifications.scss
  src/theme/dark-tags.scss
  src/theme/light-buttons.scss
  src/theme/light-notifications.scss
  src/theme/light-tags.scss
  src/theme/notifications.scss
  src/theme/tags.scss
Labels: fix

#55 feat: favourite api integration
  frontend/src/components/FavouriteActivities/index.tsx
  frontend/src/components/PageTitle/index.tsx
  frontend/src/enums/ActivityType.ts
  frontend/src/types/Card.ts
  frontend/src/utils/ApiAddresses.ts
  frontend/src/utils/ApiUtils.ts
  frontend/src/views/SeedlotDashboard/index.tsx
Labels: feature

#56 feat: seedlot applicant information form
  .eslintrc.json
  frontend/src/App.tsx
  frontend/src/components/ApplicantInformation/index.tsx
  frontend/src/components/ApplicantInformation/styles.scss
  frontend/src/components/Card/StandardCard/index.tsx
  frontend/src/components/Card/StandardCard/styles.scss
  frontend/src/components/SeedlotActivities/index.tsx
  frontend/src/mock-api/endpoints/ApplicantInfoEndpoint.ts
  frontend/src/mock-api/endpoints/GeneticClassesEndpoints.ts
  frontend/src/mock-api/endpoints/SeedlotRegistrationEndpoint.ts
  frontend/src/mock-api/endpoints/index.ts
  frontend/src/mock-api/fixtures/GeneticClasses.ts
  frontend/src/mock-api/fixtures/SeedlotActivitiesCardItems.ts
  frontend/src/mock-api/fixtures/index.ts
  frontend/src/mock-api/models/index.ts
  frontend/src/theme/components-overrides.scss
  frontend/src/types/ApplicantInfo.ts
  frontend/src/types/GeneticClasses.ts
  frontend/src/types/SeedlotRegistration.ts
  frontend/src/utils/ApiAddresses.ts
  frontend/src/utils/ApiUtils.ts
  frontend/src/views/Seedlot/CreateAClass/index.tsx
  frontend/src/views/Seedlot/CreateAClass/styles.css
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/index.tsx
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/styles.scss
  frontend/src/views/Seedlot/SeedlotDashboard/index.tsx
  frontend/src/views/Seedlot/SeedlotDashboard/styles.css
Labels: enhancement, feature

#59 feat: linked a class form to feedback page
  frontend/src/components/ApplicantInformation/index.tsx
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/index.tsx
Labels: feature
