Repository bcgov/nr-spar-webapp, pull requests merged in 2023-03, with the labels that each got.

#47 feat: seedlot details page grid
  frontend/src/App.tsx
  frontend/src/components/ComboButton/index.tsx
  frontend/src/components/ComboButton/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/styles.scss
Labels: feature

#60 fix: minor fixes on the favourite activities integration
  frontend/src/components/Card/FavouriteCard/index.tsx
  frontend/src/components/FavouriteActivities/index.tsx
  frontend/src/components/PageTitle/index.tsx
  frontend/src/enums/ActivityType.ts
Labels: fix

#64 ci: add docker compose file and update react-serve version
  docker-compose.yml
  frontend/Dockerfile
Labels: ci

#62 feat: seedlot summary created
  frontend/src/components/SeedlotSummary/index.tsx
  frontend/src/components/SeedlotSummary/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/styles.scss
Labels: feature

#65 feat: created seedlot activity history tab
  frontend/src/components/ActivityHistory/index.tsx
  frontend/src/components/SeedlotActivityHistory/index.tsx
  frontend/src/components/SeedlotActivityHistory/styles.scss
  frontend/src/utils/HistoryStatus.ts
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/styles.scss
Labels: feature

#66 feat: create components for seedlot details page
  frontend/src/components/ApplicantSeedlotInformation/index.tsx
  frontend/src/components/ApplicantSeedlotInformation/styles.scss
  frontend/src/components/FormProgress/index.tsx
  frontend/src/components/FormProgress/styles.scss
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/FormReview/styles.scss
  frontend/src/components/TitleAccordion/index.tsx
  frontend/src/mock-api/endpoints/SeedlotRegistrationEndpoint.ts
  frontend/src/mock-api/fixtures/SeedlotInfos.ts
  frontend/src/mock-api/fixtures/index.ts
  frontend/src/mock-api/models/index.ts
  frontend/src/utils/ApiAddresses.ts
  frontend/src/utils/ApiUtils.ts
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
Labels: feature

#63 feat: Files & Docs table created
  frontend/src/components/FavouriteActivities/index.tsx
  frontend/src/components/FilesDocsTable/index.tsx
  frontend/src/components/FilesDocsTable/styles.css
  frontend/src/components/RecentActivities/index.tsx
  frontend/src/mock-api/fixtures/FilesDocsItems.ts
  frontend/src/types/File.ts
Labels: feature

#68 feat: adjusted requests and resgistration flux
  frontend/src/App.tsx
  frontend/src/__test__/components/FavouriteActivities.test.tsx
  frontend/src/__test__/components/FavouriteCard.test.tsx
  frontend/src/__test__/components/PageTitle.test.tsx
  frontend/src/__test__/components/RecentActivities.test.tsx
  frontend/src/components/ApplicantInformation/index.tsx
  frontend/src/components/ApplicantSeedlotInformation/index.tsx
  frontend/src/components/Card/FavouriteCard/index.tsx
  frontend/src/components/SeedlotSummary/index.tsx
  frontend/src/mock-api/endpoints/SeedlotRegistrationEndpoint.ts
  frontend/src/mock-api/endpoints/SeedlotRegistrationEndpoints.ts
  frontend/src/mock-api/endpoints/index.ts
  frontend/src/mock-api/fixtures/SeedlotInfos.ts
  frontend/src/mock-api/fixtures/index.ts
  frontend/src/mock-api/models/index.ts
  frontend/src/types/SeedlotRegistration.ts
  frontend/src/utils/ApiAddresses.ts
  frontend/src/utils/ApiUtils.ts
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
Labels: feature

#72 Fix/fix eslint
  .eslintrc.json
  CONTRIBUTING.md
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/__test__/components/FavouriteCard.test.tsx
  frontend/src/__test__/components/Participants.test.tsx
  frontend/src/__test__/components/SeedlotTable.test.tsx
  frontend/src/__test__/views/Landing.test.tsx
  frontend/src/components/ApplicantInformation/index.tsx
  frontend/src/components/ApplicantSeedlotInformation/index.tsx
  frontend/src/components/Card/FavouriteCard/index.tsx
  frontend/src/components/FavouriteActivities/index.tsx
  frontend/src/components/FormProgress/index.tsx
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/PageTitle/index.tsx
  frontend/src/components/RecentActivities/index.tsx
  frontend/src/components/SeedlotActivityHistory/index.tsx
  frontend/src/components/SeedlotSummary/index.tsx
  frontend/src/components/TitleAccordion/index.tsx
  frontend/src/enums/ActivityType.ts
  frontend/src/logo.svg
  frontend/src/mock-api/endpoints/SeedlotRegistrationEndpoints.ts
  frontend/src/mock-api/fixtures/index.ts
  frontend/src/types/File.ts
  frontend/src/utils/ApiUtils.ts
  frontend/src/utils/HistoryStatus.ts
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
Labels: fix

#69 feat: Notification page
  frontend/src/components/NotificationsCentral/index.tsx
  frontend/src/components/NotificationsCentral/style.scss
Labels: feature

#70 fix: update seedlot existing pages
  frontend/src/__test__/components/MySeedlots.test.tsx
  frontend/src/__test__/components/SeedlotActivities.test.tsx
  frontend/src/__test__/components/SeedlotTable.test.tsx
  frontend/src/components/ApplicantInformation/index.tsx
  frontend/src/components/Card/StandardCard/index.tsx
  frontend/src/components/ComboButton/index.tsx
  frontend/src/components/EmptySection/index.tsx
  frontend/src/components/EmptySection/styles.scss
  frontend/src/components/ExistingSeedlot/index.tsx
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/FormReview/styles.scss
  frontend/src/components/MySeedlots/index.tsx
  frontend/src/components/MySeedlots/styles.scss
  frontend/src/components/SeedlotActivities/index.tsx
  frontend/src/components/SeedlotTable/index.tsx
  frontend/src/mock-api/fixtures/MySeedlotsItems.ts
  frontend/src/mock-api/fixtures/SeedlotActivitiesCardItems.ts
  frontend/src/utils/filterUtils.ts
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/index.tsx
  frontend/src/views/Seedlot/SeedlotDashboard/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/styles.scss
Labels: fix

#73 fix: changed the prop value for a button
  frontend/src/components/NotificationsCentral/index.tsx
Labels: fix

#74 feat: created seedlot registration page structure
  frontend/src/App.tsx
  frontend/src/components/FormProgress/index.tsx
  frontend/src/components/FormProgress/styles.scss
  frontend/src/components/SeedlotRegistrationProgress/index.tsx
  frontend/src/views/Seedlot/CreateAClass/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/styles.scss
Labels: feature

#80 fix: added required prop in Search component
  frontend/src/views/Seedlot/MySeedlots/SeedlotDataTable/index.tsx
Labels: fix
