Repository bcgov/nr-spar-webapp, pull requests merged in 2023-04, with the labels that each got.

#76 feat: embedding ownership step form
  frontend/src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  frontend/src/components/FormReview/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/utils.ts
  frontend/src/components/TitleAccordion/index.tsx
  frontend/src/mock-api/endpoints/SeedlotRegistrationEndpoints.ts
  frontend/src/mock-api/models/index.ts
  frontend/src/types/SeedlotTypes/OwnershipTypes.ts
  frontend/src/utils/ApiAddresses.ts
  frontend/src/utils/ApiUtils.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/styles.scss
Labels: feature

#78 feat: created orchard step for seedlot registration
  frontend/src/components/ApplicantInformation/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/data.ts
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/utils.ts
  frontend/src/custom.scss
  frontend/src/mock-api/endpoints/OrchardsEndpoint.ts
  frontend/src/mock-api/endpoints/SeedlotRegistrationEndpoints.ts
  frontend/src/mock-api/endpoints/index.ts
  frontend/src/mock-api/fixtures/GeneticClasses.ts
  frontend/src/mock-api/fixtures/Orchards.ts
  frontend/src/mock-api/fixtures/index.ts
  frontend/src/mock-api/models/index.ts
  frontend/src/types/OrchardType.ts
  frontend/src/types/SeedlotTypes/SeedlotOrchard.ts
  frontend/src/utils/ApiAddresses.ts
  frontend/src/utils/ApiUtils.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/styles.scss
Labels: feature

#82 feat: 606 seedlot form orchestration
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: feature

#79 feat: collection step for seedlot registration
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/data.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/utils.ts
  frontend/src/mock-api/endpoints/SeedlotRegistrationEndpoints.ts
  frontend/src/mock-api/models/index.ts
  frontend/src/types/CollectionInformation.ts
  frontend/src/types/CollectionMethods.ts
  frontend/src/types/CollectorAgency.ts
  frontend/src/types/SeedlotCollector.ts
  frontend/src/utils/ApiAddresses.ts
  frontend/src/utils/ApiUtils.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: feature

#81 feat: extraction and storage page
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/styles.scss
  frontend/src/types/SeedlotTypes/ExtractionStorage.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/constants.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: feature

#98 fix: updated work-directory and path on nightly job
  .github/workflows/cypress-nightly.yml
Labels: fix

#101 ci: update deploy to generate and include release notes
  .github/workflows/merge-main.yml
  frontend/openshift.deploy.yml
Labels: ci

#108 ci: fix release workflow
  .github/workflows/merge-main.yml
Labels: ci

#111 feat: fix app version
  frontend/package.json
Labels: feature
